.App {
  background-color: rgb(197, 247, 216);
  
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
}

.rsc .rsc-container {
  width: 540px;
  height: 740px;
}

.rsc .rsc-content {
  height: calc(740px - 112px);
  overflow-y: scroll;
  margin-top: 2px;
  padding-top: 6px;
}



.rsc .rsc-footer {
  position:absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  
}
/* .App-header-chat {} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
